@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-12 col-md-7 order-sm-first">
        <div>
            <h1>Manage all your contacts<br /> in one place</h1>
        </div>
        <div class="lead">
            A simple, fast and scalable address book that helps you manage your contacts easily so you never lose contact information.
        </div>
            <a class="btn btn-lg btn-warning my-3" type="button" href="">DEMO</a>
        <h4>Built with ASP.NET Core, C#, >NET 5, MVC, Bootstrap 5 and Postgres SQL<br />Hosted with Heroku, CI/CD with Github</h4>        
    </div>
    <div class="col-12 col-md-5">
        <img src="/img/anotherBook.jpg" class="img-fluid" />
    </div>
</div>
