html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {    
  margin-bottom: 60px;    
}

.mainbg {
    margin-top: 80px;    
}

.bodybg {
    background-color: #151658ef;
}


/*/-- ----------------  CONTACT list STYLES ------------->*/

.contactList-image{
    max-width: 100%;
    height:auto;
}

@media(min-width: 992px){

    .contactList-image{
        max-width: 200px;
        height: auto;
    }
}